<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.staerk.alfred.show-network-info</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>5571A359-C2D3-4C6A-9ED7-DA4600F570F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6DD40F6-DDD0-46EF-BEF9-0A218C721A13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91DDB25C-122B-4621-94E8-9B03FB03C28B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0C0C097-1E3E-4558-A2F9-2BCA43E3B7EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC2E0486-FD82-46FB-984A-75D47FADA125</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C90EEDAA-EA6F-4B55-8FFD-70E873F59F13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8F1857C-E50E-4BFD-9484-B0454321C4E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5571A359-C2D3-4C6A-9ED7-DA4600F570F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>91DDB25C-122B-4621-94E8-9B03FB03C28B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9A3A196-C2D4-4A36-902B-806DF7E99538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AC2E0486-FD82-46FB-984A-75D47FADA125</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9A3A196-C2D4-4A36-902B-806DF7E99538</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9B3E216-F8D8-4908-A211-911869EFF136</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6DD40F6-DDD0-46EF-BEF9-0A218C721A13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBC78470-CA30-4108-924E-B2C496328481</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B0F37A8-6485-42E0-B2D6-A53E87F95113</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeppe Stærk</string>
	<key>description</key>
	<string>See network info and local devices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Show Network Info</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>CBC78470-CA30-4108-924E-B2C496328481</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C6DD40F6-DDD0-46EF-BEF9-0A218C721A13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5571A359-C2D3-4C6A-9ED7-DA4600F570F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>IP copied to clipboard!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6B0F37A8-6485-42E0-B2D6-A53E87F95113</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F0C0C097-1E3E-4558-A2F9-2BCA43E3B7EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>91DDB25C-122B-4621-94E8-9B03FB03C28B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Scanning...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show Network Info</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B8F1857C-E50E-4BFD-9484-B0454321C4E9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A9B3E216-F8D8-4908-A211-911869EFF136</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ssh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B9A3A196-C2D4-4A36-902B-806DF7E99538</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Alfred 3" to search "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C90EEDAA-EA6F-4B55-8FFD-70E873F59F13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>rerun</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>AC2E0486-FD82-46FB-984A-75D47FADA125</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-show-network-info
&gt; Alfred 3 workflow to see network info and discover local devices

## Usage:
In Alfred, type `ip4`, ⏎
- press ⏎ to copy a ip address.
- press ⌘ + ⏎ to open ip address in browser.
- press ⌥ + ⏎ to connect to ip address via ssh.

## Highlights:
- See local-, public-, and gateway ip address.
- Scan and list all devices on local network.
- Copy ip to clipboard.
- Open ip in browser.
- Connect to ip via ssh.
- Toggle functions via Workflow Variables.

## Contributions:
Please feel free to create a PR and/or make a code review!
[GitHub Repository](https://github.com/jeppestaerk/alfred-show-network-info)

## License
MIT © [Jeppe Stærk](https://staerk.io)</string>
	<key>uidata</key>
	<dict>
		<key>5571A359-C2D3-4C6A-9ED7-DA4600F570F4</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>6B0F37A8-6485-42E0-B2D6-A53E87F95113</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>91DDB25C-122B-4621-94E8-9B03FB03C28B</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>A9B3E216-F8D8-4908-A211-911869EFF136</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>AC2E0486-FD82-46FB-984A-75D47FADA125</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>B8F1857C-E50E-4BFD-9484-B0454321C4E9</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>B9A3A196-C2D4-4A36-902B-806DF7E99538</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>C6DD40F6-DDD0-46EF-BEF9-0A218C721A13</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C90EEDAA-EA6F-4B55-8FFD-70E873F59F13</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>CBC78470-CA30-4108-924E-B2C496328481</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>F0C0C097-1E3E-4558-A2F9-2BCA43E3B7EE</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>keyword</key>
		<string>ip4</string>
		<key>show_actions</key>
		<string>true</string>
		<key>show_contribute</key>
		<string>true</string>
		<key>show_gateway</key>
		<string>true</string>
		<key>show_ipv6</key>
		<string>true</string>
		<key>show_local</key>
		<string>true</string>
		<key>show_public</key>
		<string>true</string>
		<key>show_scan</key>
		<string>true</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/jeppestaerk/alfred-show-network-info#readme</string>
</dict>
</plist>
